[submodule "/home/me/dotfiles/.vim/pack/bundle/start/base16-vim"]
	path = /home/me/dotfiles/.vim/pack/bundle/start/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "/home/me/dotfiles/.vim/pack/bundle/start/vim-repeat"]
	path = /home/me/dotfiles/.vim/pack/bundle/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "/home/me/dotfiles/.vim/pack/bundle/start/vim-speeddating"]
	path = /home/me/dotfiles/.vim/pack/bundle/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule "/home/me/dotfiles/.vim/pack/bundle/start/vim-http-client"]
	path = /home/me/dotfiles/.vim/pack/bundle/start/vim-http-client
	url = https://github.com/aquach/vim-http-client
[submodule "/home/me/dotfiles/.vim/pack/bundle/start/vim-surround"]
	path = /home/me/dotfiles/.vim/pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "/home/me/dotfiles/.vim/pack/bundle/start/vim-git"]
	path = /home/me/dotfiles/.vim/pack/bundle/start/vim-git
	url = https://github.com/tpope/vim-git
[submodule "/home/me/dotfiles/.vim/pack/bundle/start/vim-fugitive"]
	path = /home/me/dotfiles/.vim/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "/home/me/dotfiles/.vim/pack/bundle/start/tcomment_vim"]
	path = /home/me/dotfiles/.vim/pack/bundle/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule "/home/me/dotfiles/.vim/pack/bundle/start/indentLine"]
	path = /home/me/dotfiles/.vim/pack/bundle/start/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "/home/me/dotfiles/.vim/pack/bundle/start/typescript-vim"]
	path = /home/me/dotfiles/.vim/pack/bundle/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule "/home/me/dotfiles/.vim/pack/bundle/start/vim-json"]
	path = /home/me/dotfiles/.vim/pack/bundle/start/vim-json
	url = https://github.com/elzr/vim-json
[submodule "/home/me/dotfiles/.vim/pack/bundle/start/vim-javascript"]
	path = /home/me/dotfiles/.vim/pack/bundle/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule "/home/me/dotfiles/.vim/pack/bundle/start/ferret"]
	path = /home/me/dotfiles/.vim/pack/bundle/start/ferret
	url = https://github.com/wincent/ferret
[submodule "/home/me/dotfiles/.vim/pack/bundle/start/fzf.vim"]
	path = /home/me/dotfiles/.vim/pack/bundle/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "/home/me/dotfiles/.vim/pack/bundle/start/ultisnips"]
	path = /home/me/dotfiles/.vim/pack/bundle/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule "/home/me/dotfiles/.vim/pack/bundle/start/deoplete.nvim"]
	path = /home/me/dotfiles/.vim/pack/bundle/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
