[submodule ".vim/pack/bundle/start/base16-vim"]
	path = .vim/pack/bundle/start/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule ".vim/pack/bundle/start/vim-repeat"]
	path = .vim/pack/bundle/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/pack/bundle/start/vim-speeddating"]
	path = .vim/pack/bundle/start/vim-speeddating
	url = https://github.com/tpope/vim-speeddating
[submodule ".vim/pack/bundle/start/vim-http-client"]
	path = .vim/pack/bundle/start/vim-http-client
	url = https://github.com/aquach/vim-http-client
[submodule ".vim/pack/bundle/start/vim-surround"]
	path = .vim/pack/bundle/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/bundle/start/vim-git"]
	path = .vim/pack/bundle/start/vim-git
	url = https://github.com/tpope/vim-git
[submodule ".vim/pack/bundle/start/vim-fugitive"]
	path = .vim/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule ".vim/pack/bundle/start/tcomment_vim"]
	path = .vim/pack/bundle/start/tcomment_vim
	url = https://github.com/tomtom/tcomment_vim
[submodule ".vim/pack/bundle/start/indentLine"]
	path = .vim/pack/bundle/start/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule ".vim/pack/bundle/start/typescript-vim"]
	path = .vim/pack/bundle/start/typescript-vim
	url = https://github.com/leafgarland/typescript-vim
[submodule ".vim/pack/bundle/start/vim-json"]
	path = .vim/pack/bundle/start/vim-json
	url = https://github.com/elzr/vim-json
[submodule ".vim/pack/bundle/start/vim-javascript"]
	path = .vim/pack/bundle/start/vim-javascript
	url = https://github.com/pangloss/vim-javascript
[submodule ".vim/pack/bundle/start/ferret"]
	path = .vim/pack/bundle/start/ferret
	url = https://github.com/wincent/ferret
[submodule ".vim/pack/bundle/start/fzf.vim"]
	path = .vim/pack/bundle/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/bundle/start/ultisnips"]
	path = .vim/pack/bundle/start/ultisnips
	url = https://github.com/SirVer/ultisnips
[submodule ".vim/pack/bundle/start/deoplete.nvim"]
	path = .vim/pack/bundle/start/deoplete.nvim
	url = https://github.com/Shougo/deoplete.nvim
[submodule ".fzf"]
	path = .fzf
	url = https://github.com/junegunn/fzf
[submodule ".vim/pack/bundle/start/vim-matchup"]
	path = .vim/pack/bundle/start/vim-matchup
	url = https://github.com/andymass/vim-matchup
[submodule ".vim/pack/bundle/start/scalpel"]
	path = .vim/pack/bundle/start/scalpel
	url = https://github.com/wincent/scalpel.git
[submodule ".zsh/zsh-autosuggestions"]
	path = .zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule ".zsh/zsh-syntax-highlighting"]
	path = .zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule ".vim/pack/bundle/start/vim-flake8"]
	path = .vim/pack/bundle/start/vim-flake8
	url = https://github.com/nvie/vim-flake8
[submodule ".vim/pack/bundle/start/LanguageClient-neovim"]
	path = .vim/pack/bundle/start/LanguageClient-neovim
	url = https://github.com/autozimu/LanguageClient-neovim
[submodule "tagalong.vim"]
	path = tagalong.vim
	url = https://github.com/AndrewRadev/tagalong.vim
[submodule ".vim/pack/bundle/start/tagalong.vim"]
	path = .vim/pack/bundle/start/tagalong.vim
	url = https://github.com/AndrewRadev/tagalong.vim
