configuration {
  show-icons: false;
  modi: "drun,run,window,ssh,calc";
  matching: "fuzzy";
  hide-scrollbar: true;
  terminal: "st";
  ssh-command: "{terminal} -e {ssh-client} {host}";
  theme: "~/dotfiles/rofi/Pop-Dark-Modified.rasi";
}
